# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages, languages and tools for Data Science
- Demonstrate arithmetic operations in Jupiter notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy
3. Plotly
4. TensorFlow

|Data Sicence Tools|
|------------------|
|Jupiter Notebooks|
|RStudio|
|VS code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
# This is a code to transform minutes to hours
m_in=200 # minutes to transform
tf=60 # transformation factor 60 min/h
h_out=m_in/tf
print(h_out)

3.3333333333333335

## Author
Laura Chacon